* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 

.gif {
    width: 280px;
    position: relative;
    top: 350px;
    left: 40px;
    display: inline-block;
    transform: scaleX(-1);
}

.moov {
    display: block;
    width: 100vw;
    height: 50%;
    margin-bottom: 100px;
    display: inline-block;

}

h1 {
    text-align: center;
    color: #249481;
    margin: 20px auto; 
    font-size: 150px;
}

div {
    margin-top: -115px; 
    display: inline-block;
}